body {
    background-color: #081c24;
}

.back-color {
    background-color: #081c24;
}

.img-rounded {
    border-radius: 15px;
}

.border-custom-radius {
    border-radius: 25px;
}

.primary-color::placeholder {
    color: #01d277;
}

.primary-color {
    color: #01d277;
}

.search {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.search .fa-search {
    position: absolute;
    top: 18px;
    left: 90%;
    font-size: 15px;
}

.overview {
    color: #89a1b1;
    font-weight: lighter;
}

.titles {
    color: #d0e1ef;
}

.user-score {
    position: absolute;
    border-radius: 8px;
    margin-top: 5%;
    margin-left: 5%;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.score-color-high {
    background-color: #01d277;
}

.score-color-medium {
    background-color: #452692;
}

.score-color-low {
    background-color: #bd24b8;
}

.arrow-position {
    position: absolute;
    margin-top: 7%;
    margin-left: 10%;
    font-size: larger;
}

.poster {
    margin-top: -40%;
}

.poster-w {
    width: 100%;
    border-radius: 10px;
    text-align: center;
}

hr {
    color: #043b48;
    background-color: #043b48;
    height: 1px;
    border: none;
}

.img-shadow {
    box-shadow: 3px 8px 10px 5px black;
}
